<%inherit file="/base/user.html"/>

<!--begin custom header content for this example-->
<style type="text/css">
#fromContainer { display:none; position:absolute; left:327px; top:5px; z-index:2}
#toContainer { display:none; position:absolute; left:327px; top:245px; z-index:1}
#inlinetable {width:240px}
.cell_left {text-align:right; float:left; width:5em;}
.cell_right {text-align:left; float:left;}
</style>

%if c.form_error:
    <p>
    <b style='color:red;'> Form error: ${c.form_error}</b></br>
</p>
%endif

<form name="get_user_stats" method="post" action="/user/statistics">
<table border=1 width='750'>
<tr class="table_head2"> 
    <th class="gm">Output Selection</th>
    <th class="gm"colspan=2>Variables </th>
</tr>
<tr>
    <td rowspan=2>
    <div id="inlinetable">
        <div> 
            <div class="cell_left"> From: </div>
            <div class="cell_right"> 
                <input id='start_t_from' type="text" name='start_t_str' size='12'value="${c.start_t_str}"/>  
                <button id="fromBtn" type="button">change</button>
                <div id="fromContainer" style='display:none'></div> 
            </div>
        </div>
        <div>
            <div class="cell_left"> To: </div>
            <div class="cell_right"> 
                <input id='end_t' type="text" name='end_t_str' size='12'value="${c.end_t_str}"/>
                <button id="toBtn" type="button">change</button>
                <div id="toContainer"></div> 
            </div>
        </div>
        <div>
            <div class="cell_left"> Resolution:</div>
            <div class="cell_right"> 
                <select name="resolution" size="1">
                     <option value="86400"> 1 day </option>
                     <option value="604800" 

%if c.resolution == 604800:
SELECTED
%endif
/> 1 week </option>
                     <option value="2419200"
%if c.resolution == 2419200:
SELECTED
%endif
/> 
4 weeks </option>
</select>
            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
    </td>

    <td>
    <input type="checkbox" name="n_jobs_page_faults" value="n_jobs_page_faults" 
    % if c.n_jobs_page_faults:
    checked
    %endif
    />
            n_jobs & major_page_faults <br/>
    <input type="checkbox" name="cpu_wall_duration" value="cpu_wall_duration"
    % if c.cpu_wall_duration:
    checked
    %endif
    />
            CPU duration & Wall duration <br/>
    </td>
    <td>
    <input type="checkbox" name="user_kernel_time" value="user_kernel_time"
    % if c.user_kernel_time:
    checked
    %endif
    />
            User time & Kernel time <br/>
    </td>
</tr>
<tr>
<td> 
                <input type="checkbox" name="table_only" value="True" 
                %if c.table_only:
                checked
                %endif
    /> Display table(s) only.
</td>
<td> <input type="submit" value="Fetch Statistics"></td>
</tr>
</table>
</form>

<!-- DISPLAY STARTING HERE -->
<% 
sks = c.series.keys() 
sks.sort()

series_display_name = {'A_n_jobs': 'Number of Jobs',
    'B_major_page_faults': "Major Page Faults",
    'C_cpu_duration' : 'CPU Duration [min]',
    'D_wall_duration': 'Wall Duration [min]',
    'E_user_time' : "User Time [min]",
    'F_kernel_time' : "Kernel Time [min]"}
%>

%if c.table_only:
    <table border=1 width='750'>
    <tr class="table_head"> 
        <th class="gm">Date/Time</th>
        % for k in sks:
            <th class="gm"> ${series_display_name[k]}</th>
        %endfor 
    </tr>
    <!-- stats summary row -->
    <tr>
    <td>From: ${c.start_t_str}  <br/>
        To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${c.end_t_str}</td>
        % for k in sks:
            <%
            v = c.series[k]
            min = v.get_min() 
            max = v.get_max()
            sum = v.get_sum()
            median = v.get_median()
            tavg = v.get_average_bytime()
            if min != None:
                min = '%0.2f' % min
            if max != None:
                max = '%0.2f' % max   
            if sum != None:
                sum = '%0.2f' % sum
            if tavg != None:
                tavg = '%0.2f' % tavg
            if median != None:
                median = '%0.2f' % median
            
            %> 
            <td> 
                MIN: ${min}  <br/>
                MAX: ${max} <br/>
                Median: ${median} <br/>
                AVG: ${tavg} <br/>
                SUM: ${sum} <br/>
            </td>
        %endfor 
    </tr>
<!-- 
        <tr class="table_row_odd"> --> 

        <% 
        new_row = True 
        table_row_odd = True
        %> 
        % for t_epoch in xrange(c.start_t_epoch + c.resolution , c.end_t_epoch + c.resolution, c.resolution):
        <% 
        print_date = True 
        %> 
        % if new_row:
            % if table_row_odd:
                <tr class="table_row_odd">
                <% table_row_odd = False %> 
            % else:
                <tr>
                <% table_row_odd = True %> 
            % endif
            <% new_row = False %>
        % endif

            % for k in sks:
                <% 
                utc_date, value = c.series[k].get_sample(t_epoch -1 )
                if value != None:
                    value = '%0.2f' % value
                %> 
                % if value:
                    % if print_date:
                        <td> ${utc_date}</td>
                        <% 
                        print_date = False
                        new_row = True
                         %> 
                    % endif
                    <td> ${value} </td>
                % endif
            % endfor    

        % if new_row:
        </tr>
        % endif

        % endfor
    </table>

%else:
    %if c.series:
        <table>
        <tr class="table_head"> 
        <th class="gm"> Variable</th> <th class="gm"> Box Plot </th> <th class="gm"> Series Plot </th> </tr>
        
        %for i  in xrange(0,len(sks),2):
            <%
            v = c.series[sks[i]]
            dname = series_display_name[sks[i]]
            bp = v.get_box_plot()
            min = v.get_min() 
            max = v.get_max()
            median = v.get_median()
            avg = v.get_average()
            if min != None:
                min = '%0.2f' % min
            if max != None:
                max = '%0.2f' % max   
            if avg != None:
                avg = '%0.2f' % avg
            if median != None:
                median = '%0.2f' % median
            if bp:
                bp_min = bp['lnot_outliner']
                bp_max = bp['unot_outliner']
                lquart =  bp['lquartile']
                uquart =  bp['uquartile']
                outliners = bp['l_outliners'] + bp['u_outliners']

            v_2 = c.series[sks[i+1]]
            dname_2 = series_display_name[sks[i+1]]
            bp_2 = v_2.get_box_plot()
            min_2 = v_2.get_min() 
            if min_2 != None:
                min_2 = '%0.2f' % min_2
            max_2 = v_2.get_max()
            if max_2 != None:
                max_2 = '%0.2f' % max_2   
            avg_2 = v_2.get_average()
            if avg_2 != None:
                avg_2 = '%0.2f' % avg_2

            median_2 = v_2.get_median()
            if median_2 != None:
                median_2 = '%0.2f' % median_2
            if bp_2:
                bp_min_2 = bp_2['lnot_outliner']
                bp_max_2 = bp_2['unot_outliner']
                lquart_2 =  bp_2['lquartile']
                uquart_2 =  bp_2['uquartile']
                outliners_2 = bp_2['l_outliners'] + bp_2['u_outliners']
            %>
                    <tr>

                    <td style="font-size:small"> <b>${dname} </b><br/>
                             min: ${min} max: ${max} <br/>
                            avg:  ${avg} 
                            median: ${median}<br/> </td>
                    <td>
                    %if bp: 
                      <!-- box-plot -->
<img style="border: 1px solid black;" src="http://chart.apis.google.com/chart?
&amp;chs=200x60
&amp;cht=bhg
&amp;chd=t0:${bp_min}|${lquart}|${uquart}|${bp_max}|${median}
%for outliner in outliners:
|${outliner}
%endfor
&amp;chm=F,4682B4,0,1,30|H,055670,0,1,1:20|H,055670,4,1,1:30|H,055670,3,1,1:20
%for i in xrange(0,len(outliners)):
|o,055670,${i+5},-1,5
%endfor
&amp;chxt=x
&amp;chxr=0,0,${float(max) * 1.1}
&amp;chds=0,${float(max) * 1.1}
&amp;chdh=20
&amp;alt="Box-Plot of ${dname} time series."/>
                %endif
                </td>
                <td rowspan=2>  
                %if bp: 
                <!-- time series plot -->  
                %if sks[i] == 'A_n_jobs': 
<img style="border: 1px solid black;" src="http://chart.apis.google.com/chart?
cht=bvg
&amp;chma=30,30,30,30
%if c.samples == 28:
&amp;chs=500x150
%elif c.samples == 56:
&amp;chs=800x150
%else:
&amp;chs=1000x150
%endif
&amp;chco=4682B4,055670
&amp;chf=bg,lg,0,F5FFFA
&amp;chd=t:${c.n_job_series}|${c.major_page_faults_series}
&amp;chds=0,${'%0.2f' % (float(c.series['A_n_jobs'].get_max()) * 1.1)},0,${'%0.2f' % (float(c.series['B_major_page_faults'].get_max()) * 1.1)}
&amp;chxr=1,0,${'%0.2f'% (float(c.series['A_n_jobs'].get_max()) * 1.1)}|2,0,${'%0.2f' % (float(c.series['B_major_page_faults'].get_max()) * 1.1)}
&amp;chbh=4,1,4
&amp;chxt=x,y,r
&amp;chxl=0:|${c.dates}
&amp;chxp=0,2,27,52,77,98.5
&amp;chg=25,25,5,0
%if c.start_chm:
&amp;chm=V,FF0000,0,${c.start_chm},1|V,FF0000,0,${c.end_chm},1
%endif
&amp;chdl=number%20of%20jobs|number%20of%20major%20page%20faults
&amp;chdlp=b"     
alt="Number of Jobs and Major Page Faults Chart"
/>
                %elif sks[i] == 'C_cpu_duration':
<img style="border: 1px solid black;" src="http://chart.apis.google.com/chart?
cht=bvg
&amp;chma=30,30,30,30
%if c.samples == 28:
&amp;chs=500x150
%elif c.samples == 56:
&amp;chs=800x150
%else:
&amp;chs=1000x150
%endif
&amp;chco=4682B4,055670
&amp;chf=bg,lg,0,F5FFFA
&amp;chd=t:${c.cpu_duration_series}|${c.wall_duration_series}
&amp;chds=0,${'%0.2f' % (float(c.series['C_cpu_duration'].get_max()) * 1.1)},0,${'%0.2f' % (float(c.series['D_wall_duration'].get_max()) * 1.1)}
&amp;chxr=1,0,${'%0.2f'% (float(c.series['C_cpu_duration'].get_max()) * 1.1)}|2,0,${'%0.2f' % (float(c.series['D_wall_duration'].get_max()) * 1.1)}
&amp;chbh=4,1,4
&amp;chxt=x,y,r
&amp;chxl=0:|${c.dates}
&amp;chxp=0,2,27,52,77,98.5
&amp;chg=25,25,5,0
%if c.start_chm:
&amp;chm=V,FF0000,0,${c.start_chm},1|V,FF0000,0,${c.end_chm},1
%endif
&amp;chdl=CPU%20Duration%20[minutes]|Wall%20Duration%20[minutes]
&amp;chdlp=b"     
alt="CPU and Wall Duration Chart"
/>
                %elif sks[i] == 'E_user_time':
<img style="border: 1px solid black;" src="http://chart.apis.google.com/chart?
cht=bvg
&amp;chma=30,30,30,30
%if c.samples == 28:
&amp;chs=500x150
%elif c.samples == 56:
&amp;chs=800x150
%else:
&amp;chs=1000x150
%endif
&amp;chco=4682B4,055670
&amp;chf=bg,lg,0,F5FFFA
&amp;chd=t:${c.user_time_series}|${c.kernel_time_series}
&amp;chds=0,${'%0.2f' % (float(c.series['E_user_time'].get_max()) * 1.1)},0,${'%0.2f' % (float(c.series['F_kernel_time'].get_max()) * 1.1)}
&amp;chxr=1,0,${'%0.2f'% (float(c.series['E_user_time'].get_max()) * 1.1)}|2,0,${'%0.2f' % (float(c.series['F_kernel_time'].get_max()) * 1.1)}
&amp;chbh=4,1,4
&amp;chxt=x,y,r
&amp;chxl=0:|${c.dates}
&amp;chxp=0,2,27,52,77,98.5
&amp;chg=25,25,5,0
%if c.start_chm:
&amp;chm=V,FF0000,0,${c.start_chm},1|V,FF0000,0,${c.end_chm},1
%endif
&amp;chdl=user%20time%20[minutes]|kernel%20time%20[minutes]
&amp;chdlp=b"     
alt="User and Kernel Time Chart"
/>

                %endif
            %endif
            </td>

            </tr>
            <tr>
            <td style="font-size:small"> <b>${dname_2} </b><br/>
                     min/max: ${min_2} - ${max_2} <br/>
                    avg: ${avg_2}<br/>
                    median: ${median_2}<br/> </td>
            <td>
            %if bp_2:
<img style="border: 1px solid black;" src="http://chart.apis.google.com/chart?
&amp;chs=200x60
&amp;cht=bhg
&amp;chd=t0:${bp_min_2}|${lquart_2}|${uquart_2}|${bp_max_2}|${median_2}
%for outliner in outliners_2:
|${outliner}
%endfor
&amp;chm=F,4682B4,0,1,30|H,055670,0,1,1:20|H,055670,4,1,1:30|H,055670,3,1,1:20
%for i in xrange(0,len(outliners_2)):
|o,055670,${i+5},-1,5
%endfor
&amp;chxt=x
&amp;chxr=0,0,${float(max_2) * 1.1}
&amp;chds=0,${float(max_2) * 1.1}
&amp;chdh=20"
&amp;alt="Box-Plot of ${dname_2} time series."/>
                %endif
                </td>
                </tr>
        %endfor
    </table>
    %endif
%endif <!-- else of table_only -->


<script language="javascript" type="text/javascript"> 
    function _init_call(){
        YAHOO.smscg.calendar.init('1.1.2009', '${c.end_t_str_max}');
    }
    $(document).ready(_init_call);
</script>


<%def name="css()">
    ${parent.css()}
    ${self.css_link('/css/yui/build/fonts/fonts-min.css', 'screen')}
    ${self.css_link('/css/yui/build/calendar/assets/skins/sam/calendar.css', 'screen')}
</%def>


<%def name="js()">
    ${parent.js()}
    ${self.js_link("/js/yui/build/paginator/paginator-min.js")}
    ${self.js_link("/js/yui//build/yahoo-dom-event/yahoo-dom-event.js")}
    ${self.js_link("/js/yui/build/calendar/calendar-min.js")}
    ${self.js_link("/js/calendar.js")}
</%def>
