<%inherit file="/base/gridadmin.html"/>
<script type="text/javascript">
            var newwindow;
            function poptastic(url)
            {
                newwindow=window.open(url,'name', 'height= 800, width=750');
                if (window.focus) {newwindow.focus()}
            }
</script>

<p>You are visiting the Grid Monitor of the ${config['gridname']}.
On this page you find a the <span class="emph"> tactical overview </span> for your site. If you'd like to have
more specific details please, click on the 'details' links on the right.
</p>


<table id="gridadmin_overview"  width="920" summary="Personalized tactical overview for grid admins">
    <caption>
        Tactical Overview
    </caption>
    
    <tr> 
        <th class="corner_left" scope="col">Service/Performance</th> 
        <th scope="col" colspan=2>(Services) Status</th>
        <th class="corner_right" scope="col">Details</th> 
    </tr>

    <tr>
        <td> Core Services </td>
        <td colspan=2 id='cores'> 
            Hosts: 
            <div class="ok_status" status = 'host_up'> </div>
            <div class="ok_status"  status= 'host_sdown'> </div>
            <div class="error_status" status = 'host_down'> </div>
            <div class="undef_status" status= 'host_unknown'>no info yet </div>
            <br />
            Plugins: 
            <div class="ok_status" status='plugins_ok'>  </div>
            <div class="warn_status" status = 'plugins_warn'>  </div>
            <div class="error_status" status ='plugins_crit'>  </div>
            <div class="undef_status" status = 'plugins_unknown'> no info yet </div>
        </td>        
        <td align='center'> ${h.link('/gridadmin/overview/nagios#core','details')}</td>
    </tr>

    <tr>
        <td> Computing Elements (Services) </td>
        <td colspan=2 id='ces'> 
            Hosts: 
            <div class="ok_status" status = 'host_up'></div>
            <div class="ok_status"  status= 'host_sdown'> </div>
            <div class="error_status" status = 'host_down'> </div>
            <div class="undef_status" status= 'host_unknown'>no info yet </div>
            <br />
            Plugins: 
            <div class="ok_status" status='plugins_ok'>  </div>
            <div class="warn_status" status = 'plugins_warn'>  </div>
            <div class="error_status" status ='plugins_crit'>  </div>
            <div class="undef_status" status = 'plugins_unknown'> no info yet </div>
        </td>        
        <td align='center'> ${h.link('/gridadmin/overview/nagios#ces','details')}</td>
    </tr>
    <! -- GIIS'es -->
    <% num_giises = len(c.giises) %>
    <% count =0 %>
    <tr>
        <td rowspan=${num_giises}> GIIS'es</td>
    %for giis in c.giises:
        %if count >0:
            </tr><tr>
        %endif
        <% count += 1 %>
            <td > ${giis.hostname} </td>
            <td> Response time: ${giis.processing_time} </td>
            <td> <a href="javascript:poptastic('/gridadmin/infosys/show_all/${giis.hostname}');"> details (history) </a></td>
            
        </td>
        </tr>
    %endfor
    <! -- INACTIVE CLUSTERS --> 
    %if c.db_inactive_clusters:
        <% 
        num_inactive = len(c.db_inactive_clusters[0]) 
        count = 0 
        %>
        % if num_inactive > 0:
            <tr>
                <td rowspan=${num_inactive}> Inactive Clusters (according to Infosys)</td>
            %for hostname in c.db_inactive_clusters[0]:  
                %if count >0:
                    </tr><tr>
                %endif
                <% count += 1 %>
                <td><span class="error">${hostname}</span></td>
                <td><span class="error">since: ${c.db_inactive_clusters[1][hostname][db_lastmodified]} (UTC)</span> </td>
                <td> <a href="javascript:poptastic('/gridadmin/infosys/show_all/${hostname}');"> details (history) </a></td>
                
            %endfor
            </tr>
         %endif
    %endif
    
    <!-- IF ANY CLUSTER HAS NO_QUEUE report it here. Will NOT  be dynamically updated! -->
    %if c.no_queue_clusters:
    <tr>
        <td>Cluster(s) with Queue problem</td>
        <td colspan=2>
            % for (display_name, hostname) in c.no_queue_clusters:
                <% cpath =  '/gridadmin/clusters/show/' +  hostname %>
                ${h.link(cpath, display_name)} 
                %if hostname not in c.now_scheduled_down:
                    <span class="error_status"> 
                    (NO QUEUE)
                    </span><br/>
                %else:
                    (NO QUEUE) (scheduled downtime)
                %endif
            %endfor
        </td>
        <td align='center'> ${h.link(cpath, 'details')}</td>
    </tr>
    %endif    


<!-- Grid load --> 
<tr class="table_row_emph" align="center"> 
    <td colspan=3>
    <span class="emph">Grid Load </span></td>
    <td> 
     <span class="emph">${h.link('/gridadmin/clusters','details')}</span>
    </td>
</tr>

<tr> 
    <!-- plots -->
    <td class="plot"><div id= "grid_load_cpu"></div></td>
    <td class="plot"><div id= "grid_load_queue"></div></td>
    <!-- DETAILS -->
    <td colspan="2" align="center" id="grid_load_table"> </td>
</tr>
 <tr id='max_cluster'> <!-- MAX LOAD CLUSTER --> </tr>
    
    <tr id='min_cluster'> <!-- MIN LOAD CLUSTER --> </tr>
 

    <!-- DOWNTIME/MAINTENANCE-->
    %if c.down_time_items: 
    <tr class="table_row_emph" align="center"> 
    <td colspan=4>
    <span class="emph"> Scheduled Downtimes</span>
    </td>
    </tr>

    %for host in  c.down_time_items.keys():
    <tr> 
    <td>
        <b>Host</b>: ${host} <br />
        %if c.down_time_items[host]['services']: # i.e. list not empty
            <b>Services</b>: 
            %for service in c.down_time_items[host]['services']:
                '${service}' &nbsp;
            %endfor
        %endif
    </td>
    <td colspan="3"> Will be down from: ${c.down_time_items[host]['start_t']} to${c.down_time_items[host]['end_t']}  <br/>
        Reason: ${c.down_time_items[host]['reason']}
    </td>
    </tr>
    %endfor
    %endif
    <tr>
    <td colspan=4>
    <img src="/rrd/Gridstats_ch24.png" alt="Grid CPU load (last 24 hours)">   
    </td>
    </tr>
    <tr>
    <td colspan=4>
    <img src="/rrd/Gridstats_qh24.png" alt="Grid queue backlog (last 24 hours)">   
    </td>
    </tr>
    <tr> 
        <td colspan=4>
        <img src="/rrd/grid_final_jobsnj_h24.png" alt="Number of Jobs in final state (last  24 hours)">    
        </td>
    <tr>
        <td colspan=4>
        <img src="/rrd/grid_final_jobswj_h24.png" alt="Walltime of Jobs in final state (last 24 hours)">    
        </td>
    </tr>

</table>

<%def name="js()">
    ${parent.js()}
    ${self.js_link("/js/jquery-1.5.min.js")}
    ${self.js_link("/js/qtip/jquery.qtip-1.0.0-rc3.min.js")}
    ${self.js_link("/js/nagios_stats.js")}
    ${self.js_link("https://www.google.com/jsapi")}
    ${self.js_link("/js/grid_load.js")}
    ${self.js_link("/js/job_states.js")}
</%def>
