<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" type="image/x-icon" href="/img/gm_favicon.png" /> 


    <% self.seen_css = set() %>
	<% self.seen_js = set() %>
    <title>${self.title(c.title)}</title>
    ${self.css()}
    ${self.js()}
</head>
<body class="yui-skin-sam">

<div id="custom-doc" class="yui-t1" > 
   <div id="hd"> 
	 <div id="logo"><h1 class="invisible">Grid Monitoring (SMSCG AAA/SWITCH)</h1></div>
	 <div id="nav-items">
     	     <div id="nav-bar">
		        ${self.top_nav()}
                <div id="user-info">
                Guest
                ${self.user_info()} 
            </div>
      	     </div>
    	</div>
   </div>
 <!--  <style type ="text/css">
  div{ border:1px solid #888;}
   </style> --> 
   <div id="bd">
	<div id="yui-main">
	    <div class="yui-b">
	        ${self.heading()}
		${next.body()}
	    </div>
	</div>
	<div style='z-index:10' class="yui-b">
	    <h1></h1> <!-- just some quick and dirty padding -->
	    ${self.menu()} 
	</div>
   </div>
   <div id="ft">
     ${self.footer()}
   </div>
</div>
</body>
</html>

<%def name="title(arg)">${arg or 'SMSCG GridMonitor (an AAA/SWITCH) project'}</%def>

<%def name="css_link(path,media='')">
	## making sure each css only gets included once 
	% if path not in self.seen_css:
	    <link rel="stylesheet" type="text/css" href="${path|h}" media="${media}" />\
	% endif
	<% self.seen_css.add(path) %>\
</%def>

<%def name="js_link(path)">\
        ## making sure each js only gets included once
        % if path not in self.seen_js:
            <script type="text/javascript" src="${path}"></script>\
        % endif
        <% self.seen_js.add(path) %>\
</%def>\

<%def name="css()">	
   ${css_link('/css/yui/build/reset/reset.css','screen')}
   ${css_link('/css/yui/build/fonts/fonts.css','screen')}
   ${css_link('/css/yui/build/grids/grids.css','screen')}
   ${css_link('/css/yui/build/base/base.css','screen')}
   ${css_link('/css/yui/build/menu/assets/skins/sam/menu.css','screen')}
   ${css_link('/css/yui/build/fonts/fonts-min.css','screen')}
   ${css_link('/css/nav.css','screen')}
   ${css_link('/css/menu.css','screen')}
   ${css_link('/css/monitor.css','screen')}
</%def>

<%def name="js()">
	${js_link("/js/yui/build/yahoo-dom-event/yahoo-dom-event.js")}
	${js_link("/js/yui/build/container/container_core-min.js")}
	${js_link("/js/yui/build/menu/menu-min.js")}
	${js_link("/js/yui/build/event/event-min.js")}
</%def>

<%def name="top_nav()"></%def>
<%def name="user_info()"></%def>
<%def name="menu()"></%def>
<%def name="heading()"><h1>${c.heading or 'No Title'}</h1><a name="top"></a></%def>

<%def name="footer()">
<hr style="border:2px; color: #9E9E9E; background-color: #9E9E9E; height: 1px;width:40px;" align="left"/>
<p align='left' style="font-style:oblique; font-size:small;">GridMonitor v. 0.9.0-rc1 </p>
</%def>

