<%inherit file="/base/siteadmin.html"/>

<% clusters_bag_keys = c.clusters_bag.keys() %>  
<% cbk_len = len(clusters_bag_keys) %>
<% no_queue_clusters =[ y for (x,y) in c.no_queue_clusters] %>

%if cbk_len > 0:
    %if clusters_bag_keys[0] in no_queue_clusters:
        <h2 class="error" id="h2_name_0" style="display:''"> User/Job Distribution on ${clusters_bag_keys[0]} (no queue)</h2>
    %else:
        <h2  id="h2_name_0" style="display:''"> User/Job Distribution on ${clusters_bag_keys[0]}</h2>
    %endif
    <% count=1 %>
    %for cluster in clusters_bag_keys[1:]:
        %if clusters_bag_keys[count] in no_queue_clusters:
        <h2 class="error" id="h2_name_${count}" style="display:none">User/Job Distribution on ${clusters_bag_keys[count]} (no queue)</h2> \
        %else:
        <h2 id="h2_name_${count}" style="display:none">User/Job Distribution on ${clusters_bag_keys[count]}</h2> \
        %endif 
        <% count +=1 %>
    %endfor
%else:
<h2>No Cluster(s) available.  </h2>

%endif
% if cbk_len > 1:
<form action="">
  <p>
     <select name="cluster" size="${cbk_len}" onchange="showCluster(${cbk_len},this.form.cluster.options[this.form.cluster.selectedIndex].value)">
    
    <option value="cluster_0">${clusters_bag_keys[0]}</option>\
    <% count= 1 %>
     %for cl in clusters_bag_keys[1:]:  
        <option value="cluster_${count}">${cl}</option>\
        <% count +=1 %>
     %endfor
    </select>
  </p>
</form>
%endif

<% cluster_count=0 %>
%for cluster_hostname in clusters_bag_keys:
    <% cluster_bag = c.clusters_bag[cluster_hostname] %>
    %if cluster_count == 0:    
    <div id="cluster_${cluster_count}" style="display:''">   
    %else:
    <div id="cluster_${cluster_count}" style="display:none">   
    %endif 
        <table style="border-collapse:collapse; border:none;">
        <tr><td>
            <table width=550>
                <tr class="table_head3">
                    <th> User</th>
                    <th> FINSD </th>
                    <th> FAILD</th>
                    <th> KILLD</th>
                    <th> DELTD</th>
                    <th> ACPTD</th>
                    <th> PREPD</th>
                    <th> other</th>
                    <th> Total </th>
                </tr>
                <% count=0 %>
                %for user in cluster_bag['users_bag'].keys():
                    <% count +=1 %>
                    <% user_cn = user.split("/CN=")[-1] %>
                    %if ((count%2) == 1):
                        <tr>
                    %else:
                        <tr class="table_row_odd">
                    %endif
                    %if user in cluster_bag['orphan_list']:
                        <td class='warn'>
                        (orphaned)
                    %else: 
                        <td>
                    %endif:
                        ${user_cn}</td>
                    
                    <td>${cluster_bag['users_bag'][user]['FINISHED']}</td>
                    <td>${cluster_bag['users_bag'][user]['FAILED']}</td>
                    <td>${cluster_bag['users_bag'][user]['KILLED']}</td>
                    <td>${cluster_bag['users_bag'][user]['DELETED']}</td>
                    <td>${cluster_bag['users_bag'][user]['ACCEPTED']}</td>
                    <td>${cluster_bag['users_bag'][user]['PREPARED']}</td>
                    <td>${cluster_bag['users_bag'][user]['other']}</td>
                    <td class="table_cell_emph">${cluster_bag['users_bag'][user]['total']}</td>
                    </tr>
                %endfor
                <!-- SUMMARY -->
                    <tr style="border-top-style: double;" class="table_row_emph">
                    <td>total</td>
                    % for value in cluster_bag['job_stat_summary']:
                    <td>${value}</td>
                    %endfor
                </tr>
                </table>
        </td><td>
<%chart_height = len(cluster_bag['users_bag']) *30 + 35 %>
<img src="http://chart.apis.google.com/chart?
chs=320x${chart_height}
&amp;chco=4D89F9
&amp;chxt=x,t,y
&amp;chxl=${cluster_bag['userjobs_bar_chxl']}
&amp;chds=0,${cluster_bag['max_tot_jobs']}
&amp;chd=${cluster_bag['userjobs_bar_chd']}
&amp;cht=bhs"
alt="Jobs per User"/>
</td>
</tr>
<tr>
<td align="center">
<% mxst = cluster_bag['max_status_value'] %>
<% mxst2 = cluster_bag['max_status_value']/2 %>
<img src="http://chart.apis.google.com/chart?
chs=250x150
&amp;chco=4D89F9
&amp;chxt=x,t,y,r
&amp;chxl=0:|FINSD||KILLD||ACPTD||other|1:||FAILD||DELTD||PREPD|2:||${mxst2}|${mxst}|3:|0|${mxst2}|${mxst}
&amp;chds=0,${mxst}
&amp;chd=${cluster_bag['job_bar_chd']}
&amp;cht=bvs"
alt="Job Status'"/>
        </td>
        <td></td>
        </tr>
        </table>
    </div>
    <%cluster_count +=1 %>
%endfor


<h3> Wish-List </h3>
<ul>
<li> possibilty to view job details (clarify if there are any privacy issues to respect)</li>
<li> ... </li>
</ul> 

<%def name="js()">
    ${parent.js()}
    <script type="text/javascript" src="/js/select.js"></script>
</%def>


