<%inherit file="/base/user.html"/>
<table style="border-collapse:collapse; border:none;">
<tr><td>
    <table width="500">
    <tr class="table_head2"> 
        <th> Cluster\Jobstatus</th>
        <th> FIN</th>
        <th> FAIL </th>
        <th> KIL </th>
        <th> DEL</th>
        <th> FTCH</th>
        <th> RUN</th>
        <th> other </th>
        <th> orph </th>
        <th> total </th>
    </tr>
    <% count=0 %>
    % for cname in c.cluster_bag.keys():
        <% count += 1 %>
        % if ((count%2) == 1):
        <tr>
        % else:
        <tr class="table_row_odd">
        % endif
        <td>${cname}</td>    
        <td>${c.cluster_bag[cname]['FINISHED']}</td>
        <td>${c.cluster_bag[cname]['FAILED']}</td>
        <td>${c.cluster_bag[cname]['KILLED']}</td>
        <td>${c.cluster_bag[cname]['DELETED']}</td>
        <td>${c.cluster_bag[cname]['FETCHED']}</td>
        <td>${c.cluster_bag[cname]['INLRMS: R']}</td>
        <td>${c.cluster_bag[cname]['other']}</td>
    %if (c.cluster_bag[cname]['orphaned'] == 0):
        <td>${c.cluster_bag[cname]['orphaned']}</td>
    % else:
        <td> <span class="warn"> ${c.cluster_bag[cname]['orphaned']}</span></td>
    %endif
        <td class="table_cell_emph">${c.cluster_bag[cname]['total']}</td>
    </tr>
    %endfor
    <!-- SUMMARY -->
        <tr style="border-top-style: double;" class="table_row_emph">
        <td>total</td>    
        <td>${c.job_stat_summary[0]}</td>
        <td>${c.job_stat_summary[1]}</td>
        <td>${c.job_stat_summary[2]}</td>
        <td>${c.job_stat_summary[3]}</td>
        <td>${c.job_stat_summary[4]}</td>
        <td>${c.job_stat_summary[5]}</td>
        <td>${c.job_stat_summary[6]}</td>

    %if (c.job_stat_summary[7] == 0):
        <td>${c.job_stat_summary[7]}</td>
    % else:
        <td> <span class="warn"> ${c.job_stat_summary[7]}</span></td>
    %endif
        <td >${c.job_stat_summary[8]}</td>
    </tr>
    </table>
</td><td>
<%chart_height = len(c.cluster_bag) *30 + 35 %>
<img src="http://chart.apis.google.com/chart?
chs=320x${chart_height}
&amp;chco=4D89F9
&amp;chxt=x,t,y
&amp;chxl=${c.cluster_bar_chxl}
&amp;chds=0,${c.max_tot_jobs}
&amp;chd=${c.cluster_bar_chd}
&amp;cht=bhs"
alt="Jobs per Cluster"/>
</td>
</tr>
<tr>
<td align="center">
<% mxst = c.max_status_value %>
<% mxst2 = c.max_status_value/2 %>
<img src="http://chart.apis.google.com/chart?
chs=250x150
&amp;chco=4D89F9
&amp;chxt=x,t,y,r
&amp;chxl=0:|FINISHED||KILLED||FETCHED||other|1:||FAILED||DELETED||RUNNING||orphaned|2:||${mxst2}|${mxst}|3:|0|${mxst2}|${mxst}
&amp;chds=0,${mxst}
&amp;chd=${c.job_bar_chd}
&amp;cht=bvs"
alt="Job Status'"/>
</td>
<td>
<h3> Jobs Details: </h3>
<ul>
<li>${h.link('/user/jobs/show/FINISHED','FIN ( FINISHED)')}</li>
<li>${h.link('/user/jobs/show/FAILED','FAIL (FAILED)')}</li>
<li>${h.link('/user/jobs/show/KILLED','KIL (KILLED)')}</li>
<li>${h.link('/user/jobs/show/DELETED','DEL (DELETED)')}</li>
<li>${h.link('/user/jobs/show/FETCHED','FTCH (FETCHED)')}</li>
<li>${h.link('/user/jobs/show/INLRMS: R','RUN (RUNNING)')}</li>
<li>${h.link('/user/jobs/show/orphaned','orphaned')}</li>
</ul>
</td></tr>
</table>



