/* general stuff */

body {
	background-color: #FFFFFF;
    margin:0px;
}

p{width: 750px;}


/* table formating (general) */

tr.odd{
	background-color: #E7F3F9;
}
tr.even{
	background-color: #FFFFFF;
}

tr:hover {
	background-color:#EAF9E7;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica;
    #font: bold 11px "Eurostyle", Helvetica,sans-serif;
    color: #FFFFFF;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-collapse: collapse;
    border-top: 0px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #4682B4;
}

th.corner_left{
    border-top-left-radius: 8px;
    border-left: 0px;
    border-top: 0px;
}
th.corner_right{
	 border-top-right-radius: 8px;
	 border-right: 0px;
	 border-top: 0px;
}

td.emph{
	font: 11px "Trebuchet MS", Verdana, Arial, Helvetica;
	color: #055670;
}

td{
	border: 1px solid #C1DAD7;
}

td.plot{
    padding: 0px 1px 0px 1px;
}




.code {
    font-family: monospace;
    font-size: 93%;
    }

.emph{font-style: italic;}

.vo_emph{background-color: #FFFFE0}
/*
.table_row_odd{background-color:#f5f5f5}
.table_cell_emph{background-color:#FFFFE0}
.table_row_emph{background-color:#FFFFE0}
.table_head{background-color: #eee}
*/
.table_head2{background-color: #F5FFFA}
.table_head3{background-color: #F0F0F0}

.ok_status{
    color: #4e9258;
    font: italic 11px eurostyle,tahoma, sans-serif;
}
.undef_status{
    color: #828282;
    font: italic 11px eurostyle,tahoma, sans-serif;
    
}
.warn_status{
    color: #ffa500;
    font: italic 11px eurostyle,tahoma, sans-serif;
   
}

.error_status{
    color: #e41b00;
    font: italic 11px eurostyle,tahoma, sans-serif;
 
}

/*
.ok{color:#4E9258; font-weight:bold}
.warn{color:#FFA500; font-weight:bold}
.error{color:#FF0000; font-weight:bold}
.critical{color:#C11B17; font-weight:bold}
.unknown{color:#809DAA; font-weight:bold}
*/

#user-info{font-size:80%;
        color: #FFFFFF;
    text-align: right;
    margin-top: 22px;
    margin-right: 5px;
}


#expand_table:hover{
    color: #f5f6ce;
}

#shrink_table:hover{
    color: #f5f6ce;
}
