.code {
    font-family: monospace;
    font-size: 93%;
    }

.emph{font-style: italic;}

.vo_emph{background-color: #FFFFE0}
.table_head{background-color: #AFEEEE}
.table_head2{background-color: #E0FFFF}
.warn{color:#FFA500; font-weight:bold}

#user-info{font-size:80%;
        color: #FFFFFF;
    text-align: right;
    margin-top: 22px;
    margin-right: 5px;
}


